
ARMAC++/.vs/ARMAC++/v17/.suo
*.db
ARMAC++/.vs/ARMAC++/v17/.suo
*.ipch
*.opendb
*.db-wal
*.db-shm
*.user
*.filters
.vs/ARMAC++/v17/.suo
*.obj
*.cbp
null
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.lastbuildstate
*.tlog
*.txt
*.idb
/.vs/ARMAC2/v17
/.vs
*.enc
*.dat
*.dat
*.dat
precioscuota.dat
socios.dat
*.dat
*.dat
*.dat
*.dat
*.dat
armas.dat
cuotas.dat
*.dat
*.dat
*.dat
*.dat
*.lastcodeanalysissucceeded
x64/Debug/PagoSolicitud.nativecodeanalysis.xml
*.xml
*.sarif
